body {
  font-family: "Inter", sans-serif;
  position: relative;
  height: 1470px;
  width: 1577px;
  background: #fff6ef;
  color: black;
  margin: 0px;
}
#header,
#mainbody {
  width: 100%;
}

#header > div {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 19px;
  height: 19px;
  position: absolute;
}
#header > div > a {
  text-decoration: none;
  color: black;
}
#header > div:nth-of-type(1) {
  position: absolute;
  width: 156px;
  height: 51px;
  left: 142px;
  top: 34px;
}
#header > div:nth-of-type(2) {
  width: 92px;
  left: 435px;
  top: 50px;
}
#header > div:nth-of-type(3) {
  width: 81px;
  left: 555px;
  top: 50px;
}
#header > div:nth-of-type(4) {
  width: 88px;
  left: 675px;
  top: 50px;
}
#header > div:nth-of-type(5) {
  width: 81px;
  left: 795px;
  top: 50px;
}
#header > div:nth-of-type(6) {
  width: 119px;
  left: 915px;
  top: 50px;
}
#header > div:nth-of-type(7) {
  position: absolute;
  height: 56px;
  left: 1132px;
  top: 31px;
  background: #000000;
  border-radius: 50px;
}
#header > div:nth-of-type(7) > button {
  width: 156px;
  height: 100%;
  background: #000000;
  border-radius: 50px;
  color: white;
}
#main-index > div:nth-of-type(1) {
  position: absolute;
  width: 416px;
  height: 96px;
  left: 142px;
  top: 399px;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  color: black;
}
#main-index > div:nth-of-type(2) {
  position: absolute;
  width: 403px;
  height: 19px;
  left: 142px;
  top: 503px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;

  color: #626262;
}
#main-index > div:nth-of-type(3) {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 605px;
  top: 305.24px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
}
#main-index > div:nth-of-type(3) > img {
  position: absolute;
  width: 269px;
  height: 56px;
  left: 16.27px;
  top: 121.76px;
  cursor: pointer;
}
#main-index > div:nth-of-type(3):hover,
#main-index > div:nth-of-type(4):hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#main-index > div:nth-of-type(4) {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 970.27px;
  top: 305px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
}
#main-index > div:nth-of-type(4) > img {
  position: absolute;
  width: 229px;
  height: 71px;
  left: 39px;
  top: 107px;
  cursor: pointer;
}
#main-index > section:nth-of-type(1) {
  position: absolute;
  width: 194px;
  height: 29px;
  left: 142px;
  top: 771px;
  font-style: normal;
  display: flex;
  font-size: 24px;
  line-height: 29px;
}
#main-index > section:nth-of-type(2) {
  position: absolute;
  width: 351px;
  height: 72px;
  left: 142px;
  top: 820px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
#main-index > div:nth-of-type(5) {
  position: absolute;
  width: 185px;
  height: 58px;
  left: 141px;
  top: 929px;
  background-color: #000000;
  border-radius: 50px;
}
#main-index > div:nth-of-type(5) > button,
#main-sikasem > div:nth-of-type(4) > button {
  width: 100%;
  border-radius: 50px;
  height: 100%;
  background-color: #000000;
  color: white;
}

#main-index > div:nth-of-type(6) {
  position: absolute;
  width: 475px;
  height: 360px;
  left: 510px;
  top: 707px;
}
#main-index > div:nth-of-type(7) {
  position: absolute;
  width: 213px;
  height: 158px;
  left: 970px;
  top: 808px;
}
#main-index > div:nth-of-type(8) {
  position: absolute;
  width: 71px;
  height: 149px;
  left: 1223px;
  top: 812px;
}
footer {
  position: absolute;
  height: 400px;
  width: 100%;
  left: 0px;
  top: 1070px;
  background-color: #185375;
}
#footer {
  position: absolute;
  left: 142px;
  right: 500px;
  display: flex;
}
#footer > div {
  width: 25%;
}

#main-sikasem > div:nth-of-type(1) {
  position: absolute;
  width: 321px;
  height: 77px;
  left: 286px;
  top: 285px;
  display: flex;
  align-items: center;
}

#main-sikasem > div:nth-of-type(2) {
  position: absolute;
  width: 508px;
  height: 58px;
  left: 607px;
  top: 294px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: black;
}
#main-sikasem > div:nth-of-type(3) {
  position: absolute;
  width: 830px;
  height: 58px;
  left: 305px;
  top: 415px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #626262;
}
#main-sikasem > div:nth-of-type(4) {
  position: absolute;
  width: 185px;
  height: 58px;
  left: 529px;
  top: 567px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border-radius: 50px;
}
