body {
  font-family: "Inter", sans-serif;
  position: relative;
  height: 1470px;
  width: 1577px;
  background: #fff6ef;
  color: black;
  margin: 0px;
}
#header,
#mainbody {
  width: 100%;
}
#mainbody {
  height: 100%;
}
#header > div {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 19px;
  height: 19px;
  position: absolute;
}
#header > div > a {
  text-decoration: none;
  color: black;
}
#header > div:nth-of-type(1) {
  position: absolute;
  width: 156px;
  height: 51px;
  left: 215.5px;
  top: 34px;
}
#header > div:nth-of-type(2) {
  width: 92px;
  left: 508.5px;
  top: 50px;
}
#header > div:nth-of-type(3) {
  width: 81px;
  left: 628.5px;
  top: 50px;
}
#header > div:nth-of-type(4) {
  width: 88px;
  left: 748.5px;
  top: 50px;
  cursor: pointer;
}
/*#header > section {
  position: absolute;
  width: 11px;
  height: 19px;
  left: 839.5px;
  top: 53px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  transform: rotate(90deg);
}*/
#header > div:nth-of-type(5) {
  width: 81px;
  left: 868.5px;
  top: 50px;
}
#header > div:nth-of-type(6) {
  width: 119px;
  left: 988.5px;
  top: 50px;
}
#header > div:nth-of-type(7) {
  position: absolute;
  height: 56px;
  left: 1205.5px;
  top: 31px;
  background: #000000;
  border-radius: 50px;
  cursor: pointer;
  width: 156px;
}
#header > div:nth-of-type(7) > button {
  width: 100%;
  height: 100%;
  background: #000000;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}
.dropbtn {
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#main-index > div:nth-of-type(1) {
  position: absolute;
  width: 416px;
  height: 96px;
  left: 215.5px;
  top: 399px;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  color: black;
}
#main-index > div:nth-of-type(2) {
  position: absolute;
  width: 403px;
  height: 19px;
  left: 215.5px;
  top: 503px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;

  color: #626262;
}
#main-index > div:nth-of-type(3) {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 678.5px;
  top: 305.24px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
}
#main-index > div:nth-of-type(3) > img {
  position: absolute;
  width: 269px;
  height: 56px;
  left: 16.27px;
  top: 121.76px;
  cursor: pointer;
}
#main-index > div:nth-of-type(3):hover,
#main-index > div:nth-of-type(4):hover {
  background-color: rgba(125, 125, 125, 0.19);
}
#main-index > div:nth-of-type(4) {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 1043.77px;
  top: 305px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
}
#main-index > div:nth-of-type(4) > img {
  position: absolute;
  width: 229px;
  height: 71px;
  left: 39px;
  top: 107px;
  cursor: pointer;
}
#main-index > section:nth-of-type(1) {
  position: absolute;
  width: 194px;
  height: 29px;
  left: 215.5px;
  top: 771px;
  font-style: normal;
  display: flex;
  font-size: 24px;
  line-height: 29px;
}
#main-index > section:nth-of-type(2) {
  position: absolute;
  width: 351px;
  height: 72px;
  left: 215.5px;
  top: 820px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
#main-index > div:nth-of-type(5) {
  position: absolute;
  width: 185px;
  height: 58px;
  left: 215.5px;
  top: 929px;
  background-color: #000000;
  border-radius: 50px;
  cursor: pointer;
}
#main-index > div:nth-of-type(5) > button,
#main-sikasem > div:nth-of-type(4) > button {
  width: 100%;
  border-radius: 50px;
  height: 100%;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

#main-index > div:nth-of-type(6) {
  position: absolute;
  width: 475px;
  height: 360px;
  left: 583.5px;
  top: 707px;
}
#main-index > div:nth-of-type(7) {
  position: absolute;
  width: 213px;
  height: 158px;
  left: 1043.5px;
  top: 808px;
}
#main-index > div:nth-of-type(8) {
  position: absolute;
  width: 71px;
  height: 149px;
  left: 1296.5px;
  top: 812px;
}

#main-sikasem > div:nth-of-type(1) {
  position: absolute;
  width: 321px;
  height: 77px;
  left: 359.5px;
  top: 285px;
  display: flex;
  align-items: center;
}

#main-sikasem > div:nth-of-type(2) {
  position: absolute;
  width: 508px;
  height: 58px;
  left: 680.5px;
  top: 294px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: black;
}
#main-sikasem > div:nth-of-type(3) {
  position: absolute;
  width: 830px;
  height: 58px;
  left: 378.5px;
  top: 415px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #626262;
}
#main-sikasem > div:nth-of-type(4) {
  position: absolute;
  width: 185px;
  height: 58px;
  left: 602.5px;
  top: 567px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border-radius: 50px;
}
#main-personax > div:nth-of-type(1) {
  position: absolute;
  width: 321px;
  height: 172.5px;
  left: 285px;
  top: 248px;
}
#main-personax > div:nth-of-type(1) > img {
  width: 100%;
  height: 100%;
}
#main-personax > div:nth-of-type(2) {
  position: absolute;
  width: 423px;
  height: 117px;
  left: 358.5px;
  top: 423px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #626262;
}
#main-personax > div:nth-of-type(3) {
  position: absolute;
  width: 456px;
  height: 19px;
  left: 358.5px;
  top: 564px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
}
#main-personax > div:nth-of-type(4) {
  position: absolute;
  width: 398px;
  height: 58px;
  left: 903.5px;
  top: 384px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
}
#main-personax > div:nth-of-type(5) {
  position: absolute;
  width: 288px;
  height: 58px;
  left: 903.5px;
  top: 482px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #cbcbcb;
}
#main-personax > div:nth-of-type(6) {
  position: absolute;
  width: 185px;
  height: 58px;
  left: 358.5px;
  top: 615px;
  color: white;
  background-color: black;
  border-radius: 50px;
}
#main-personax > div:nth-of-type(6) > button {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
}
#main-personax > div:nth-of-type(7) {
  position: absolute;
  width: 623px;
  height: 39px;
  left: 502.5px;
  top: 710px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
#main-personax > div:nth-of-type(8) {
  position: absolute;
  width: 546px;
  height: 38px;
  left: 547.5px;
  top: 763px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #626262;
}
#main-personax > div:nth-of-type(9) {
  position: absolute;
  width: 295px;
  height: 200px;
  left: 358.5px;
  top: 841px;
}
#main-personax > div:nth-of-type(10) {
  position: absolute;
  width: 295px;
  height: 200px;
  left: 682.5px;
  top: 841px;
}
#main-personax > div:nth-of-type(11) {
  position: absolute;
  width: 295px;
  height: 200px;
  left: 1006.5px;
  top: 841px;
}
footer {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 1070px;
  background-color: #185375;
  bottom: 0px;
}
#footer {
  position: absolute;
  left: 215.5px;
  right: 289px;
  display: flex;
}
.columns {
  display: flex;
  flex-direction: column;
  width: 25%;
  font-size: 20px;
  color: white;
  padding: 70px 0 0 0;
  height: min-content;
}
.columns > * {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
.columns:nth-of-type(1) > * {
  margin: 0px;
}
.columns:nth-of-type(4) > div > img {
  background-color: white;
  width: min-content;
}
#last {
  display: flex;
  position: absolute;
  bottom: 70px;
  left: 215.5px;
  right: 289px;
  height: 19px;
  line-height: 19px;
}
#last > * {
  width: 50%;
  height: 100%;
  font-size: 20px;
}
#last > section:nth-of-type(1) {
  color: #ffffff;
}
#last > section:nth-of-type(2) {
  display: flex;
}
#last > section:nth-of-type(2) > * {
  width: 15%;
  height: 100%;
  text-align: end;
}