body{
    width: 100%;
    height: 100%;
   
}


#login {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
  }

.logo {
    margin: 10%;
}


.middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    padding: 80px;
  }

  .left {
  background-image: url("images/roberto-carlos-roman-don-K77xDt7E1fE-unsplash\ 1\ 1.png");
  background-position: top; 
 background-position: 100%;
}

.right {
  background-image: url("images/alex-starnes-PK_t0Lrh7MM-unsplash\ 1\ \(1\)\ 1.png");
  background-position: 100%;
}


.input-box {
    margin-right: 15px;
  }

/* .row{
    position:relative;
    width: 100%;
    height:925px;
    background-color:bro;
}

.row::after{
    content:"";
    display: table;
    clear: both;
}

[class*="col-"]{
    float: left;
}

.col-3{
    width: 25%;
    height: 925px;
    background-color: blue;
    background-repeat: no-repeat;
    
}

.col-6{
    width:50%;
    height: 925px;
    background-color:white;
    padding-left: 100px;
    padding-right: 100px;
    background-repeat: no-repeat;

  
}

.first{
    background: url("images/roberto-carlos-roman-don-K77xDt7E1fE-unsplash\ 1\ 1.png"); 
}

.second{
    background:url("images/alex-starnes-PK_t0Lrh7MM-unsplash\ 1\ \(1\)\ 1.png");
}

input[type="text"]{
    width: 500px;
    height: 50px;
    margin: 15px 0px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    padding-left: 20px;

}

input[type="password"]{
    width: 500px;
    height: 50px;
    margin: 15px 0px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    border-radius: 10px;
    padding-left: 20px;
}

input[type="submit"]{
    width: 500px;
    height: 50px;
    margin: 15px 0px;
    background-color:black;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

button a{
    width: 500px;
    height: 50px;
    margin: 15px 0px;
    background-color:white;
    border: none;
    margin-bottom: 20px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
}

a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: none;
    color: #000000;

}

p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333; 
    display: flex;
    flex-direction: row;
    width: 500px;
}
p:before, p:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  p:before {
    margin-right: 10px
  }
  p:after {
    margin-left: 10px
  }

h1{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    padding-left: 200px;
    
}
.logo1{
   background: url("images/Sikasem\ Logo\ \(White\)\ 1.png");
   background-repeat:no-repeat;
   width: 200px;
   height: 200px;
   margin: 20px 90px;
   
}

.logo2{
   background: url("images/Personax\ Logo\ \(White\)\ 1.png");
   background-repeat: no-repeat;
   width: 200px;
   height: 200px;
   margin: 20px 100px
}

label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

}
 */
